.container-post {
  width: 670px;
  background: var(--bg-post-color);
  border-radius: 6px;
  padding: 20px;
  margin: 10px 0;
  text-align: start;

  .profile-section .profile-info span {
    opacity: 80%;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  span {
    color: var(--textsecondary--color);
  }
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .activity-icons {
    display: inline-flex;
    align-items: center;
  }

  .activity-icons > div, .comment {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
  }

  .user-profile-post {
    display: flex;
    align-items: center;

  }

  .user-profile-post img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-profile-post p, a{
    margin-bottom: -5px;
    font-weight: 500;
    color: var(--text--color);
  }

  .user-profile-post span {
    font-size: 13px;
  }

}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-text {
  color: var(--text--color);
  margin: 15px 0;
  font-size: 15px;
}
